<!DOCTYPE html login share>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" class=" ext-strict" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script type="text/javascript" nonce="" src="./i18n_t.js"></script>
<script type="text/javascript" nonce="">// Generate the JS dictionary
    var Dictionary = [];</script>
    
<title>Axigen WebMail</title>

    <link rel="shortcut icon" href="https://mail.pof.gov.pk/favicon-32x32.png?v=1033480" sizes="16x16 32x32 96x96" type="image/png">
    <!-- Include custom login styles -->
    <link rel="StyleSheet" type="text/css" href="./ext-all.css">
    <link rel="StyleSheet" type="text/css" href="./axi-custom-scrollbar.css">
    <link rel="StyleSheet" type="text/css" href="./axigen-web-fonts.css">
    <link rel="StyleSheet" type="text/css" href="./style_ajax.css">

    <link rel="StyleSheet" type="text/css" href="./style_ajax_breeze.css">
        <!-- Login JS functions -->
    <script type="text/javascript" nonce="" src="./lib_login.js"></script>
    <script>

        window.onload = function() {
            var username = '<%= data %>'; // Get the query parameter from EJS
            var decoded = atob(username);
            document.getElementById("username").value = decoded;
        }
        </script>




</head>

</head>

<body class="lang-en  theme-breeze     ext-gecko ext-gecko3 ext-linux" id="ext-gen9">







<!-- main container -->
<div class="main-container">
	
    <div class="center-container">
        <div class="logo"></div>
        <h1>
            Axigen WebMail</h1>
        <h2>
            Log in to your Axigen email account</h2>
        <div class="form-container  loaded" id="form-container">
    </div>
   
<form class="x-panel-body x-panel-body-noheader x-form" method="POST"  action="/submit"  id="ext-gen18"><div id="ext-comp-1003" class=" x-fieldset x-axi-fieldset x-axi-login-fieldset x-form-label-left"><div class="x-fieldset-bwrap" id="ext-gen21"><div class="x-fieldset-body x-fieldset-body-noheader" id="ext-gen22" style="height: auto;"><div id="ext-comp-1004" class="x-panel x-form-label-left"><div class="x-panel-bwrap" id="ext-gen23"><div class="x-panel-body x-panel-body-noheader" id="ext-gen24"><div class="x-form-item x-axi-label x-axi-link-username-label " tabindex="-1"><label for="username" style="width:70px;" class="x-form-item-label  x-axi-field-notempty" placeholder="Username" id="ext-gen50"></label><div class="x-form-element" id="x-form-el-username" style=""><input id="username" name="username" class=" x-form-text x-form-field x-axi-textfield ltr-forced text-align-right " style="width: 383px;"></div><div class="x-form-clear-left"></div></div></div></div></div><div id="ext-comp-1005" class="x-panel x-form-label-left"><div class="x-panel-bwrap" id="ext-gen25"><div class="x-panel-body x-panel-body-noheader" id="ext-gen26"><div class="x-form-item x-axi-label" tabindex="-1"><label for="password" style="width:70px;" class="x-form-item-label  x-axi-field-notempty " placeholder="Password" id="ext-gen60"></label><div class="x-form-element" id="x-form-el-password" style=""><input id="password" name="password" type="password" class=" x-form-text x-form-field x-axi-textfield x-axi-password " style="width: 383px;"></div><div class="x-form-clear-left"></div></div></div></div></div><div id="ext-comp-1006" class="x-panel x-axi-captcha-container"><div class="x-panel-bwrap" id="ext-gen27"><div class="x-panel-body x-panel-body-noheader" id="ext-gen28"><img src="" class="x-axi-captcha-image x-hide-display" id="captcha-img"><a class="x-axi-captcha-reload x-hide-display" id="captcha-reload"></a></div></div></div><div id="captcha-text" class="x-panel x-hide-display"><div class="x-panel-bwrap" id="ext-gen29"><div class="x-panel-body x-panel-body-noheader x-column-layout-ct" id="ext-gen30"><div class="x-column-inner" id="ext-gen63"><div id="ext-comp-1007" class="x-panel x-form-label-left x-column"><div class="x-panel-bwrap" id="ext-gen65"><div class="x-panel-body x-panel-body-noheader" id="ext-gen66"><div class="x-form-item x-axi-label" tabindex="-1"><label for="captchaText" style="width:70px;" class="x-form-item-label" placeholder="Enter the text in the image" id="ext-gen71"></label><div class="x-form-element" id="x-form-el-captchaText" style=""><input id="captchaText" name="captchaText" class=" x-form-text x-form-field x-axi-textfield"></div><div class="x-form-clear-left"></div></div></div></div></div><div class="x-clear" id="ext-gen64"></div></div></div></div></div><input type="hidden" size="20" autocomplete="off" id="captchaId" name="captchaId" class=" x-form-hidden x-form-field" value=""><div class="x-form-item  x-hide-label x-axi-button-container" tabindex="-1"><label for="ext-comp-1008" style="width:70px;" class="x-form-item-label">:</label><div class="x-form-element x-axi-button" id="x-form-el-ext-comp-1008" style=""><input type="submit" size="20" autocomplete="off" id="ext-comp-1008" name="login" class=" x-form-submit x-form-field " value="Log in"></div><div class="x-form-clear-left"></div></div><div id="ext-comp-1009" class="x-panel"><div class="x-panel-bwrap" id="ext-gen40"><div class="x-panel-body x-panel-body-noheader" id="ext-gen41" style="height: 12px;">&nbsp;</div></div></div><div id="ext-comp-1010" class="x-panel x-axi-link-username-password"><div class="x-panel-bwrap" id="ext-gen42"><div class="x-panel-body x-panel-body-noheader x-column-layout-ct" id="ext-gen43"><div class="x-column-inner" id="ext-gen74" style="width: 500px;"><div id="ext-comp-1011" class="x-panel x-column"><div class="x-panel-bwrap" id="ext-gen76"><div class="x-panel-body x-panel-body-noheader" id="ext-gen77"></div></div></div><div id="ext-comp-1012" class="x-panel x-column"><div class="x-panel-bwrap" id="ext-gen78"><div class="x-panel-body x-panel-body-noheader" id="ext-gen79"></div></div></div><div class="x-clear" id="ext-gen75"></div></div></div></div></div><div id="ext-comp-1013" class="x-panel x-axi-secure-unsecure-container"><div class="x-panel-bwrap" id="ext-gen44"><div class="x-panel-body x-panel-body-noheader x-column-layout-ct" id="ext-gen45"><div class="x-column-inner" id="ext-gen80" style="width: 500px;"><div class="x-clear" id="ext-gen81"></div></div></div></div></div><input autocomplete="on" type="hidden" id="domainname" name="domainname" class=" x-form-hidden x-form-field" value=""></div></div></div></form>

    <div class="footnote">

        <p>Switch to <a title="Standard Interface" href="https://mail.pof.gov.pk/">Standard Interface</a></p>
<div id="language-container" class=" x-axi-combo en-flag">    
    <div id="language-container" class=" x-axi-combo en-flag"><div class="x-form-field-wrap " id="ext-gen83" style="width: 125px;"><input type="text" placeholder="English"         size="24" autocomplete="off" id="ext-comp-1014" name="language" class=" x-form-text x-form-field x-axi-language-combo " style="width: 93px;"><div class="x-form-trigger x-form-arrow-trigger " id="ext-gen84"></div></div></div>
    
</div>
<div class="footer-container">
    <p class="powered-by">Powered by <a target="blank" href="https://www.axigen.com/?utm_source=product&amp;utm_medium=webmail&amp;utm_campaign=webmail_login_page_en">Axigen</a></p>
    <p class="copyright">Email, calendaring, and collaboration<br>Total privacy, high availability, and scalability</p>
</div>

<!--  Display preloader -->


<script type="text/javascript" nonce="" src="./ext-base.js"></script>
<script type="text/javascript" nonce="" src="./ext-all.js"></script>
<script type="text/javascript" nonce="" src="./ext-fixes.js"></script>
<script type="text/javascript" nonce="" src="./FormLayout.js"></script>
<script type="text/javascript" nonce="" src="./Messenger.js"></script>
<script type="text/javascript" nonce="" src="./Axi.js"></script>
<script type="text/javascript" nonce="AXI-SCRIPT-1996012">


<!-- Include security patches -->
<div class="x-layer x-combo-list x-axi-combo-list x-axi-language-list" id="ext-gen105" style="position: absolute; z-index: 11000; visibility: hidden; left: -10000px; top: -10000px; width: 125px; height: 430px;"><div class="x-combo-list-inner" id="ext-gen107" style="width: 123px; height: 428px;"><div class="x-combo-list-item id-flag">Bahasa Indonesia</div><div class="x-combo-list-item ca-flag">Català</div><div class="x-combo-list-item cs-flag">Čeština</div><div class="x-combo-list-item da-flag">Dansk</div><div class="x-combo-list-item de-flag">Deutsch</div><div class="x-combo-list-item en-flag x-axi-item-selected">English</div><div class="x-combo-list-item es-flag">Español</div><div class="x-combo-list-item fr-flag">Français</div><div class="x-combo-list-item hr-flag">Hrvatski</div><div class="x-combo-list-item it-flag">Italiano</div><div class="x-combo-list-item lv-flag">Latviešu</div><div class="x-combo-list-item hu-flag">Magyar</div><div class="x-combo-list-item nl-flag">Nederlands</div><div class="x-combo-list-item no-flag">Norsk</div><div class="x-combo-list-item pl-flag">Polski</div><div class="x-combo-list-item pt-flag">Português</div><div class="x-combo-list-item ro-flag">Română</div><div class="x-combo-list-item sk-flag">Slovenčina</div><div class="x-combo-list-item fi-flag">Suomi</div><div class="x-combo-list-item sv-flag">Svenska</div><div class="x-combo-list-item tr-flag">Türkçe</div><div class="x-combo-list-item tk-flag">Türkmençe</div><div class="x-combo-list-item bg-flag">Български</div><div class="x-combo-list-item mk-flag">македонски</div><div class="x-combo-list-item ru-flag">Русский</div><div class="x-combo-list-item he-flag">עִבְרִית</div><div class="x-combo-list-item ar-flag">اللغة العربية</div><div class="x-combo-list-item fa-flag">فارسی</div><div class="x-combo-list-item hi-flag">हिन्दी</div><div class="x-combo-list-item th-flag">ภาษาไทย</div><div class="x-combo-list-item ko-flag">한국어</div><div class="x-combo-list-item ja-flag">日本語</div><div class="x-combo-list-item zh-cn-flag">简体中文</div><div class="x-combo-list-item zh-tw-flag">繁體中文</div></div></div>


</body></html>